<div class="container mt-5">
    <h2 class="mb-4 text-center">Mot de passe oublié</h2>
  
    <form (ngSubmit)="onSubmit()" class="w-50 mx-auto">
      <div class="form-group mb-3">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-primary w-100">Envoyer lien</button>
    </form>
  
    <div *ngIf="successMsg" class="alert alert-success mt-3">{{ successMsg }}</div>
    <div *ngIf="errorMsg" class="alert alert-danger mt-3">{{ errorMsg }}</div>
    
  </div>
  