<h2>📅 Mes Rendez-vous</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date & Heure</th>
      <th>Durée (min)</th>
      <th>Remarque</th>
      <th>Statut</th>
      <th>Modifier le statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rdv of rendezvousList">
      <td>{{ rdv.dateHeure | date: 'short' }}</td>
      <td>{{ rdv.duree }}</td>
      <td>{{ rdv.remarque }}</td>
      <td>{{ rdv.statut }}</td>
      <td>
        <select class="form-select form-select-sm w-auto"
                [(ngModel)]="rdv.statut"
                (ngModelChange)="updateStatut(rdv, $event)">
          <option *ngFor="let s of statutOptions" [value]="s">{{ s }}</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>