<div class="container mt-5">
    <h2 class="text-center mb-4">🔐 Réinitialiser le mot de passe</h2>
  
    <div class="form-group mb-3">
      <label>Nouveau mot de passe</label>
      
      <input type="password" [(ngModel)]="newPassword" class="form-control" required />
    </div>
  
    <button class="btn btn-success w-100" (click)="reset()">Mettre à jour</button>
  
    <div *ngIf="successMsg" class="alert alert-success mt-3">{{ successMsg }}</div>
    <div *ngIf="errorMsg" class="alert alert-danger mt-3">{{ errorMsg }}</div>
  </div>
      