<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidenav-main">
  <div class="container-fluid">

    <!-- Toggler + Logout Mobile -->
    <div class="d-flex align-items-center justify-content-between d-md-none">
      <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" aria-controls="sidenav-collapse-main">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button (click)="onLogout()" class="btn btn-danger btn-sm">
        Logout
      </button>
    </div>

    <!-- Brand Logo -->
    <a class="navbar-brand d-flex align-items-center" routerLinkActive="active" [routerLink]="['/admin/dashboard']">
      <span class="brand-text text-primary font-weight-bold">FitMind</span>
    </a>

    <!-- Collapse Sidebar -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">

      <!-- User Mobile -->
      <ul class="nav align-items-center d-md-none mt-4 mb-2">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="userDropdown" role="button" data-toggle="dropdown">
            <img alt="Profile" src="./assets/back/img/theme/team-1-800x800.jpg" class="avatar avatar-sm rounded-circle">
          </a>
        </li>
      </ul>

      <!-- Search Mobile -->
      <form class="mt-3 mb-3 d-md-none">
        <div class="input-group rounded shadow-sm">
          <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Search">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav mt-4">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
            <i class="ni {{menuItem.icon}}"></i>
            <span>{{menuItem.title}}</span>
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4">

      <!-- Documentation -->
      <h6 class="navbar-heading text-muted">Documentation</h6>
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/tutorial" target="_blank">
            <i class="ni ni-spaceship"></i> Getting Started
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/colors" target="_blank">
            <i class="ni ni-palette"></i> Foundation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/alerts" target="_blank">
            <i class="ni ni-ui-04"></i> Components
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
